{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} GeoDjango Example {% endblock title %}</title>
    {% include 'includes/favicons.html' %}
    <!-- Bootstrap -->
    <link href="{% static 'libs/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    {% block extras_assets %}
    {% endblock extras_assets %}

</head>
<body>

{% include 'includes/navbar.html' %}

<div class="container-fluid">
    {% block content %}
    {% endblock content %}
</div><!--/.container-->

<script src="{% static 'libs/jquery-1.12.4/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

{% block extras_js %}
{% endblock extras_js %}

</body>
</html>