{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron">
        <h1>GeoDjango Boilerplate</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab at consectetur corporis cupiditate
            distinctio, ea eius eum eveniet expedita impedit laborum necessitatibus, nobis omnis quibusdam saepe
            tenetur unde voluptates.
        </p>

        <p>
            <a class="btn btn-lg btn-primary" href="{% url 'map:webmap' %}" role="button">View the project &raquo;</a>
        </p>
    </div>

{% endblock content %}